// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #F8A239;
$green: #81CE97;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Project COLOR variables
$brown_very_dark:   #796F54;
$brown_dark:        #6D4C41;
$brown_light:       #A0573E;
$yellow_dark:       #FFD027;
$yellow_light:      #FFE773;
$yellow_very_ligth: #FFFCEF;
$yellow_sand:       #FFF8CD;
$green_light:       #CFF9AF;
$green_very_light:  #FAFEF7;
$green_dark:        #89DB48;
$green_very_dark:   #75A56D;
$green_button:      #D1EECC;
$green_new:         #B8F689;
$green_star:        #72CD2D;
$red_dark:          #F88181;
$red_light:         #FFC5C5;
$red_very_light:    #FAF8F9;
$red_new:           #FD8081;
$blue_dark:         #32D7F5;
$blue_light:        #C8F4FC;
$blue_very_light:   #F9FEFF;
$blue_new:          #85E6FB;
$white_dirt:        #FCFBF8;
$white_line:        #F7F6F2;
$beige:             #F2EDD4;
$grey_blue:         #6BB4C1;
$navbar_grey:       #E3E5E3;
