// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Project COLOR variables
$brown_very_dark:   #796F54;
$brown_dark:        #6D4C41;
$brown_light:       #A0573E;
$yellow_dark:       #FFD027;
$yellow_light:      #FFE773;
$yellow_very_ligth: #FFFCEF;
$yellow_sand:       #FFF8CD;
$green_dark:        #89DB48;
$green_light:       #CFF9AF;
$green_very_light:  #FAFEF7;
$red_dark:          #F88181;
$red_light:         #FFC5C5;
$red_very_light:    #FBF3ED;
$blue_dark:         #32D7F5;
$blue_light:        #C8F4FC;
$blue_very_light:   #C8F4FC;
$white_dirt:        #ECF4F3;
$beige:             #F2EDD4;
$grey_blue:         #6BB4C1;
