// Specific CSS for your home-page

.background_home {
   background-color: #FFF8CD;
}

.container_home {
  background-color: #FFF8CD;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  flex-shrink: 0;
}

.h1_home {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: 'Fredericka the Great', cursive;
  color: #6D4C41;
  font-size: 75px;
  transform: rotate(-10deg);
}

.img_home {
  margin-bottom: 50px;
}

.p1_home {
  font-family: 'Pacifico', cursive;
  color: #6D4C41;
  font-size: 20px;
  text-align: center;
}

.btn_home1 {
  margin: 20px;
  color: $green_very_dark;
  background-color: #D1EECC;
  padding: 8px 60px;
  border-radius: 50px;
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.6;
    color: #796F54;
  }
}

.btn_home2 {
  color: $green_very_dark;
  background-color: #D1EECC;
  padding: 8px 60px;
  border-radius: 50px;
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.3s ease;
  margin-bottom: 47px;

  &:hover {
    opacity: 0.6;
    color: #796F54;
  }
}

