
.background-color-program-waste {
  background-color: #FAFEF7;
  height: 100vh;
  padding-bottom: 100px;
}
.background-color-program-food {
  background-color: $yellow_very_ligth;
  height: 100vh;
}
.background-color-program-transport {
  background-color: $red_very_light;
  height: 100vh;
}
.background-color-program-energy {
  background-color: $blue_very_light;
  height: 100vh;
}

.background-color-task-waste {
  height: 100vh;
  background: linear-gradient(#cff9af, #a6e577);
}

.background-color-task-food {
  background: linear-gradient(#FFF3BC, #FFE97F);
  height: 100vh;
}

.background-color-task-transport {
  background: linear-gradient(#FFC5C5, #FF9393);
  height: 100vh;
}

.background-color-task-energy {
  background: linear-gradient(#D9FFFF, #ACF1FE);
  height: 100vh;
}
