.background-color-profile {
  background-color: #FFFCEF;
  min-height: 100vh;
}

.add-friend{
  background-image: image-url('download.png');
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
