<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test page</title>
</head>

<body>
  <div class="container">
    <div class="grid-shape">
      <div>1</div>
      <div>2</div>
    </div>
  </div>
</body>
</html>
