<div class="container-task">
  <div class="program-content text-center">
  <h1><%= @program.title  %></h1>
  <hr width="50%"/>
  </div>

  <% @tasks.each do |task| %>
    <% if task.completed %>
      <div class="badge-task-validated">
        <%= link_to "Regarder", program_task_path(@program, task)%>
      <%#= task.status %>
      </div>
    <% elsif task.status == 'ongoing' %>
      <div class="badge-task-ongoing">
        <%= link_to "Regarder", program_task_path(@program, task)%>
      <%#= task.title %>
      </div>
    <% else %>
      <div class="badge-task-locked"></div>
      <%#= task.title %>
    <% end %>
  <% end %>
</div>



  <%#= task.title %>
  <%#= task.completed %>

      <%#= link_to "Valider", done_user_task_path(task.user_task_id), method: :patch, class: "btn btn-ghost btn-border-blue"%>
