<div class="container d-flex add-friend">
  <div class="d-flex flex-column d-flex align-items-cente m-auto text-center">
  <h1 class="title-thema">Ajouter un ami</h1>

  <div class="form-group pt-5" style="margin-top: -1em;">
    <%= form_tag users_path, method: :get, class: 'input-group', remote: true do %>
      <%= text_field_tag :search,
        params[:search],
        class: "form-control",
        placeholder: "pseudo"
      %>
      <span>
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-search"></i>
        </button>
      </span>
    <% end %>
  </div>
  <div id="badges-container" style="margin-top: 1em;">
  </div>
</div>
