<div class="container">
  <h1>Ajouter un ami</h1>

  <%= simple_form_for @friendship do |f| %>
    <%= f.input :friend, label: 'pseudo' %>

    <%= f.button :submit, "Valider", class: "btn btn-primary btn-primary-flat" %>
  <% end %>
</div>
