<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="content">

        <div class="title-thema">Nourriture</div>

        <div class="elements">

          <div class="element">
            <img src="https://via.placeholder.com/64" />
            <div class="label">Content</div>
          </div>

          <div class="element">
            <img src="https://via.placeholder.com/64" />
            <div class="label">Content 2</div>
          </div>

          <div class="element">
            <img src="https://via.placeholder.com/64" />
            <div class="label">Content 3</div>
          </div>

        </div>

      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-12">
      <div class="content">

        <div class="title-thema">Déchets</div>

        <div class="elements">

          <div class="element">
            <img src="https://via.placeholder.com/64" />
            <div class="label">Content</div>
          </div>

          <div class="element">
            <img src="https://via.placeholder.com/64" />
            <div class="label">Content 2</div>
          </div>

          <div class="element">
            <img src="https://via.placeholder.com/64" />
            <div class="label">Content 3</div>
          </div>

        </div>

      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-12">
      <div class="content">

        <div class="title-thema">Energie</div>

        <div class="elements">

          <div class="element">
            <img src="https://via.placeholder.com/64" />
            <div class="label">Content</div>
          </div>

          <div class="element">
            <img src="https://via.placeholder.com/64" />
            <div class="label">Content 2</div>
          </div>

          <div class="element">
            <img src="https://via.placeholder.com/64" />
            <div class="label">Content 3</div>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>
