
<div class="background-home">
  <div class="container-home">
    <h1 class= h1-home>Koala</h1>
      <%= image_tag "home_logo.png", class: "img-home" %>
      <p class= p1-home>Koala te propose de challenger tes habitudes pour réduire ton emprunte carbone.</p>
      <p class = p1-home>Tu pourras ainsi  adopter un mode de vie plus responsable à travers des programmes adaptés ou des challenges avec tes amis. </p>
    <%= link_to "Se connecter", user_session_path, class: "btn-home1"  %>
    <%= link_to "S'enregistrer", new_user_registration_path, class: "btn-home2"  %>
  </div>
</div>
