.badge-task-validated {
  margin-top:10px;
  margin-bottom:10px;
  width:  80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  margin: auto;
  background-image: image-url('green_ball.png');
  background-position: center;
  background-size: cover;
}

.badge-task-ongoing {
  margin-top:10px;
  margin-bottom:10px;
  width:  80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  margin: auto;
  background-image: image-url('orange_ball.png');
  background-position: center;
  background-size: cover;
}

.badge-task-locked {
  margin-top:100px;
  margin-bottom:10px;
  width:  80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  margin: auto;
  background-image: image-url('grey_ball.png');
  background-position: center;
  background-size: cover;
}
