.btn-switch {
  color: rgba(121,111,84,0.5);
  background-color: #FCFBF8;
  border-radius: 0px 50px 50px 0px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 350;
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 140px;
  text-align: center;
  position: relative;
  bottom: 12px;

    &:hover {
    transition:.3s;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    color: rgba(121,111,84,0.5);
  }
}
.btn-unswitch {
  color: $green_very_dark;
  background-color: #D1EECC;
  border-radius: 50px 0px 0px 50px;
  box-shadow: 0px 2px 2px rgba(117, 165, 109,.4);
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 350;
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 140px;
  margin-left: 54px;
  text-align: center;
  position: relative;
  bottom: 12px;

    &:hover {
    transition:.3s;
    box-shadow: 0px 0px 2px rgba(117, 165, 109,.4);
    color: $green_very_dark;
  }
}

.btn-unswitch-challenges{

  color: rgba(121,111,84,0.5);
  background-color: #FCFBF8;
  border-radius: 50px 0px 0px 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 350;
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 140px;
  margin-left: 54px;
  text-align: center;
  position: relative;
  bottom: 12px;
    &:hover {
    transition:.3s;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    color: rgba(121,111,84,0.5);
  }
}

.btn-switch-challenges{
  color: $green_very_dark;
  background-color: #D1EECC;
  border-radius: 0px 50px 50px 0px;
  box-shadow: 0px 2px 2px rgba(117, 165, 109,.4);
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 350;
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 140px;
  text-align: center;
  position: relative;
  bottom: 12px;

    &:hover {
    transition:.3s;
    box-shadow: 0px 0px 2px rgba(117, 165, 109,.4);
    color: $green_very_dark;
  }
}
