.btn-switch {
  color: #796F54;
  background-color: #FCFBF8;
  border-radius: 0px 50px 50px 0px;
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 350;
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 140px;
  text-align: center;
  position: relative;
  bottom: 12px;

    &:hover {
    opacity: 0.6;
    color: #796F54;
  }
}
.btn-unswitch {
  color: #796F54;
  background-color: #D1EECC;
  border-radius: 50px 0px 0px 50px;
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 350;
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 140px;
  margin-left: 54px;
  text-align: center;
  position: relative;
  bottom: 12px;

    &:hover {
    opacity: 0.6;
    color: #796F54;

  }
}
