.button-white {
  color: #A0573E;
  border-radius: 20px;
  display: block;
  width: 200px;
  box-shadow: 0px 2px 2px rgba(135, 135, 135, 0.5);
  margin: 30px auto;

}

.button-transparent {
  background-color: transparent;
  border-color: rgba(160, 87, 62, 0.5);
  color: rgba(160, 87, 62, 0.5);
  border-radius: 20px;
  display: block;
  margin: auto;
  width: 200px;
  margin: 30px auto;
}
