.btn-main {
  color: $green_very_dark;
  background-color: #D1EECC;
  padding: 8px 60px;
  border-radius: 50px;
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.3s ease;
  margin: 30px auto;

  &:hover {
    opacity: 0.6;
    color: #796F54;
  }
}

/* input[type=radio] {
  visibility: hidden;
} */

.btn-day-inact {
    height: 30px;
    background-color: #F2EDD4;
    border-radius: 40px;
    padding: 3px 24px;
    font-family: 'Ropa Sans';
    color: #6D4C41;

}


.btn-day-act {
    height: 30px;
    background-color: #D1EECC;
    border-radius: 40px;
    padding: 3px 24px;
    font-family: 'Ropa Sans';
    color: #6D4C41;
}

.btn-friend-pending{
  color: $green_very_dark;
  background-color: #D1EECC;
  border-radius: 50px;
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
  opacity: 1;
  transition: opacity 0.3s ease;
  margin:  auto;

  &:hover {
    opacity: 0.6;
    color: #796F54;
  }
}
.btn-friends  {
  height: 48px;
  width: 240px;
  color: $green_very_dark;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-left: 50px;
}
