// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "customized-buttons";
@import "programs";
@import "dashboard";
@import "daycount";
@import "button";
@import "fontawesome";
@import "star_image";
@import "program_image";
@import "btn_switch";
@import "modal";
@import "container-task";
@import "badge-task";
@import "duration-radios";
@import "container-task";
@import "profile";
