.navbar {
  width:100vw;
  height: 64px;
  background-color: white;
  display:flex;
  padding: 15px 40px;
  align-items:center;
  justify-content:space-around;
  position:fixed;
  left: 0;
  bottom :0;
  z-index:100;
  border-top: 1px solid $navbar_grey;
  box-shadow: 0px -2px 15px rgba(95, 95, 95, .05);
}

.category {
  display:flex;
  flex-direction:column;
  align-items:center;
  color: #796F54;
}

.label {
  font-family:'Ropa Sans', sans-serif;
  color: #796F54;
  font-weight:700;
  font-size:13px;
  margin-top:5px;
}
.active {
  color: $yellow_star;
  // color: #51CA3C;
  text-shadow: 0px 3px 3px rgba($yellow_star, 0.4);
}
