.navbar {
  width:100vw;
  height: 64px;
  background-color: white;
  display:flex;
  padding: 15px 40px;
  align-items:center;
  justify-content:space-around;
  position:fixed;
  bottom :0;
  z-index:100;
  border-top: 1px solid $navbar_grey;
  box-shadow: 0px -2px 15px rgba(95, 95, 95, .05);
}

.category {
  display:flex;
  flex-direction:column;
  align-items:center;
  color: #796F54;
}

.label {
  font-family:'Ropa Sans', sans-serif;
  color: #796F54;
  font-weight:700;
  font-size:13px;
  margin-top:5px;
}

// position:fixed;
// bottom: 0
// width:100vw;
// z-index:9999;
