//Loop from 1-12.
@for $i from 1 through 12 {
  .element {
    &:nth-child(#{$i}) {
      // Delay the animation. Delay increases as items loop.
      animation-delay: $i * (.15s);
    }
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.elements {
  display:flex;
  width: 100%;
  justify-content:normal;
  margin-bottom: 34px;
  overflow: auto;
}
.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 125px;
  flex-shrink: 0;
  animation: .9s ease-in-out both fade-in;
}
.no-space {
  padding: 0;
  margin: 0;
}
.bkg-blue {
  background-color: $blue_very_light;
  border-bottom: solid 1px $blue_light;
}
.bkg-red {
  background-color: $red_very_light;
  border-bottom: solid 1px $red_light;
}
.bkg-yellow {
  background-color: $yellow_very_ligth;
  border-bottom: solid 1px $yellow_light;
}
.bkg-green {
  background-color: $green_very_light;
  border-bottom: solid 1px $green_light;
}
.title-thema {
display: flex;
justify-content: center;
font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;
color: $brown-very-dark;
padding-top: 35px;
padding-bottom: 10px;
letter-spacing: 0.5px;
}
.adjust-badge-pos  {
  margin-bottom: 10px;
}
.program-title-task {
  font-family: Red Hat Text;
  font-style: normal;
  font-weight: normal;
  margin-top: 8px;
  width: 100px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.01em;
  color: $brown_very_dark;
}
.badge-tasks  {
  width:  60px;
  height: 60px;
  border: 6px solid;
  border-radius: 50%;
  background-color: $white-dirt;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
}
.bt-green  {
  border-color: $green-light;
}
.bt-yellow  {
  border-color: $yellow-light;
}
.bt-blue  {
  border-color: $blue-light;
}
.bt-red  {
  border-color: $red-light;
}
.program-desc {
  font-family: Red Hat Text;
  font-style: normal;
  font-weight: normal;
  margin-top: 8px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.01em;
  padding: 0 15px;
  color: $brown_very_dark;
}
.transparent {
  opacity: 0.4;
}
#bottom-page  {
  padding-bottom: 28px;
}
#tt-padtop {
  padding-top:60px;
}
#tt-prog-padtop {
  padding-top:15px;
}
