.task-star {
  height: 80px;
  width: 80px;
  padding: 15px;
  border: 3px solid black;
  border-radius: 50%;

  &.task-star-completed {
    border-color: $green_star
    ;
    box-shadow: inset 0 0 90px 0 rgba($green_star
      , 0.8), 0 0 15px 0 rgba($green, 0.7);

    svg {
      fill: $green_star
      ;
    }
  }

  &.task-star-ongoing {
    border-color: $orange;
    box-shadow: inset 0 0 90px 0 rgba($orange, 0.6), 0 0 15px 0 rgba($orange, 0.7);

    svg {
      fill: $orange;
    }
  }

  &.task-star-locked {
    border-color: $white;
    box-shadow: inset 0 0 80px 0 rgba($white, 0.6), 0 0 20px 0 rgba($white, 0.7);
    opacity: 0.8;

    svg {
      fill: $white;
    }
  }
}

.task-position-text {
  color: $brown-very-dark;

  &.task-locked-text {
    opacity: 0.3;
  }
}
