
.signup-container {
  background-color: #FFF8CD;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: 100vh;
  margin-bottom: auto;
  justify-content: center;
}

.h1-signup {
  font-family: 'Ropa Sans', sans-serif;
  color: #A0573E;
}

.img-signup {
  margin-top: 30px;
}

.h2-signup {
  font-family: 'Ropa Sans', sans-serif;
  color: #A0573E;
}


